<% provide(:title, '新規登録')%>
<div class='wrapper-user-form'>
  <h1>新規登録</h1>
  <div class='user-form'>
    <%= form_with(model: @user) do |form| %>
      <%= render 'shared/error_messages' %>
      <div class='group-label-input'>
        <%= form.label 'ユーザー名' %>
        <%= form.text_field :name %>
      </div>
      <div class='group-label-input'>
        <%= form.label 'メールアドレス' %>
        <%= form.email_field :email%>
      </div>
      <div class='group-label-input'>
        <%= form.label 'パスワード' %>
        <%= form.password_field :password%>
      </div>
      <div class='group-label-input'>
        <%= form.label 'パスワード　確認' %>
        <%= form.password_field :password_confirmation %>
      </div>
      <%= form.submit '登録'%>
    <% end%>
  </div>
</div>
