<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if yield(:title).empty? %>
        Webapp
      <% else %>
        <%= yield(:title) %> | Webapp
      <% end %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "reset", "data-turbo-track": "reload"%>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class='content-container'>
      <% unless flash.empty? %>
        <div class='flash-container'>
          <% flash.each do |message_type, message|%>
            <span class='flash flash-<%= message_type %>'><%= message %></span>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
